<div class="adminactivities hide">
  <div class="clear">X</div>
  <div class="addbook">
    <a href="/admin/addbook">Add Book</a>
  </div>
  <div class="bookdetails">
    <a href="/admin/bookdetails">Book Details</a>
  </div>
  <div class="addadmin">
    <a href="/admin/register">Add Admin</a>
  </div>
  <div class="userdetails">
    <a href="/admin/userdetails">User Details</a>
  </div>
  <div class="admin-register">
    <a href="/admin/profile">Profile</a>
  </div>
</div>
