<%- include("./partials/header.ejs") -%>
<%- include("./homenav.ejs") -%>
<div class="bg">
    <img src="/images/404error.jpg" alt="Not found" />
  </div>
</div>

<%- include("./partials/footer.ejs") -%>
