<div class="adminactivities hide">
  <div class="clear">X</div>
  <div class="addbook">
    <a href="/user/issuebook">Issue Book</a>
  </div>
  <div class="bookdetails">
    <a href="/user/returnbook">Return Book</a>
  </div>
  <div class="admin-register">
    <a href="/user/profile">Profile</a>
  </div>
</div>
