.add-book,
.updatebookdata {
  .book-header {
    text-align: center;
  }
  width: 40%;
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  background-color: #fff;

  fieldset {
    padding: 10px 15px;
    margin: 5px 0;
  }

  input[type="text"],
  input[type="password"],
  textarea,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 0 5px;

    background-color: rgb(231, 226, 226);
    border: none;
  }
  .addbutton {
    padding: 10px 15px;
    text-align: center;
    background-color: blue;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    &:hover {
      background-color: rgb(140, 140, 229);
    }
  }
  textarea {
    height: 60px;
  }
}

.goback {
  i {
    font-size: 20px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .add-book,
  .updatebookdata {
    width: 90%;
    .addbutton {
      padding: 10px 35px;
    }
  }
}
