.navbar {
  display: flex;
  width: 75%;
  margin: 10px auto;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: rgba(0, 0, 255, 0.6);
  border-radius: 10px;
  color: white;
  font-size: 25px;
  .icon a {
    color: white;
    text-decoration: none;
  }
  .nav-links {
    a {
      color: white;
    }
  }
}
